* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

:root {
	--text: #242f36;
	--bg-main: rgba(186, 228, 252, 0.9);
	--cta: #ffad00;
}

#root {
	min-height: 100vh;
	width: 100vw;
	background: url(assets/flight-bg-mobile.png) no-repeat center center/cover;
	color: var(--text);
}

h1 {
	text-align: center;
	font-size: clamp(2rem, 2vw + 1rem, 3.5rem);
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
form,
.flight-details,
.finalMsgCont {
	width: 90%;
	background-color: var(--bg-main);
	display: flex;
	flex-direction: column;
}
.flight-details {
	padding: 0.5rem;
}
.flight-details p {
	margin-top: 0.5rem;
}

form label,
input {
	display: inline-block;
	padding: 0.5rem;
}
.last-input {
	margin-top: 1rem;
}
input {
	margin: 0.5rem;
}

.half-form div input {
	width: 100%;
	height: 2rem;
	outline: none;
	border: none;
}
select {
	width: 100%;
	height: 2rem;
}
button {
	margin: 1rem auto;
	width: 80%;
	border: 1px solid var(--cta);
	font-size: 1.3rem;
	padding: 0.5rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
button:hover {
	cursor: pointer;
	background-color: var(--cta);
	color: var(--bg-main);
}

.finalMsgCont {
	text-align: center;
	padding: 2rem;
	font-size: 1.5rem;
}

header,
footer {
	text-align: center;
	width: 100%;
	padding: 1.5rem 0;
}

.error-message {
	background-color: var(--bg-main);
	font-weight: 700;
	color: red;
	padding: 0.5rem;
	font-size: 1.3rem;
}

footer {
	background-color: var(--bg-main);
	margin-top: 2rem;
}

@media only screen and (min-width: 686px) {
	#root {
		background-image: url(assets/flight-bg.png);
	}
}
